<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:component-scan base-package="com.yiibai.customer" />-->

    <!--<context:component-scan base-package="com.yiibai">-->
    <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>-->
    <!--</context:component-scan>-->
    <bean id="customerService" class="com.yiibai.customer.services.CustomerService">
        <property name="name" value="YiiBaii Mook Kim"/>
        <property name="url" value="http://www.yiibai.com"/>
    </bean>

    <bean id="beforeBean" class="com.yiibai.aop.HijackAroundMethod"/>

    <bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"></property>
        <property name="interceptorNames">
            <list>
                <value>beforeBean</value>
            </list>
        </property>
    </bean>
</beans>